<header>
    <a href="index.html">
        <div id="logo" width="150" >
            <img src="./images/logoScritta.png" alt="Immagine non disponibile" width="150">
        </div>
    </a>
    <nav id="outer-nav">
        <a href="index.html">Home</a>
        <a href="su-di-noi.html" class="nav">Su di Noi</a>
        <a href="cosa-offriamo.html" class="nav">Che cosa offriamo</a>
        <a href="https://rme.ch/terapeuta/deisepatricia.gonzalezbourdelande" class="nav">Pagina RME</a>
        <a href="contatto.html" class="nav">Contatto</a>
    </nav>
    <div id="subnav">
        <input type="checkbox" name="menu-checkbox" id="open-subnav">
        <label for="open-subnav" class="icon">
            <img src="images/menu.svg" alt="Menu" height="50px">
        </label>
        <nav>
            <a href="index.html">Home</a>
            <a href="su-di-noi.html" class="nav">Su di Noi</a>
            <a href="cosa-offriamo.html" class="nav">Che cosa offriamo</a>
            <a href="https://rme.ch/terapeuta/deisepatricia.gonzalezbourdelande" class="nav">Pagina RME</a>
            <a href="contatto.html" class="nav">Contatto</a>
        </nav>
    </div>
</header>